.swiperSlide {
  text-align: center;
  width: 45%;
}
.imgContainer {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  margin-bottom: 1em;
  .img {
    cursor: pointer;
    margin-bottom: 0;
    animation: unChooseImg 300ms;
  }
  .imgChoose {
    // margin-bottom: auto;
    animation-name: chooseImg;
    animation-duration: 300ms;
    margin-bottom: 1em;
  }
  @keyframes chooseImg {
    from {
      margin-bottom: 0;
    }
    to {
      margin-bottom: 1em;
    }
  }
  @keyframes unChooseImg {
    from {
      margin-bottom: 1em;
    }
    to {
      margin-bottom: 0;
    }
  }
}
.description {
  margin-bottom: 2.5em;
  font-size: 16px;
  font-weight: 700;
  color: var(--sub-text);
  animation: appear 250ms;
}
.nameAuthor {
  font-size: 22px;
  font-weight: 600;
  animation: appear 250ms;
}
.aboutAuthor {
  font-size: 10px;
  font-weight: 600;
  color: var(--sub-text);
  margin-top: 0.5em;
  margin-bottom: 1em;
  animation: appear 250ms;
  // opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
