:root {
  /* define color */
  --pink: #FB2E86;
  --red: #FB2448;
  --blue: #2F1AC4;
  --off-navy-blue: #3F509E;
  --navy-blue: #151875;
  --sky-blue: linear-gradient(121.53deg, #F3F9FF 0%, #F1F0FF 100%);
  --pantone-purple: #E0D3F5;
  --purple: #7E33E0;
  --off-purple: #9F63B5;
  --off-blue: #111751;
  --sub-text: #8A8FB9;
  --white: #fff;
  --cateText: #B4B7D2;
  --warning: #F8D37D;
  --black-text: #0D0E43;
  --bg-product: #F6F7FB;

  /* category gradient */
  --cate-blue: linear-gradient(99.7deg, #1389FF 1.62%, #1DB4E7 99.19%);
  --cate-pink: linear-gradient(99.7deg, #FA3BE5 1.62%, #FF28A0 99.19%);
  --cate-sky-blue: linear-gradient(99.7deg, #24D2FF 1.62%, #19A7F9 99.19%);
  --cate-green: linear-gradient(99.7deg, #36E6D5 1.62%, #27E862 99.19%);

  /* promo gradient*/
  --promo-pink: linear-gradient(105.15deg, #5465FF 0%, #B654EF 100%);
  --promo-blue: linear-gradient(105.15deg, #4E5AFF 0%, #5D8DFF 100%);


  /*define text*/
  --font-size-ex-small: 12px;
  --font-size-small: 16px;
  --font-size-medium: 20px;
  --font-size-large: 24px;
  --font-size-exlarge: 32px;
  --font-size-xxlarge: 48px;
  --font-size-xxxlarge: 64px;

  /* define radius */
  --radius-size-small: 24px;
  --radius-size-semi-small: 32px;
  --radius-size-medium: 40px;
  --radius-size-large: 48px;
  --radius-size-exlarge: 56px;
  --radius-size-xxlarge: 64px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* font-family: 'Josefin Sans', sans-serif; */