.topCategoryWrapper{
    padding: 3rem;
    .wrapperSlider{
        padding: 2rem 0;
    }
    .activeBtnPagi{
        color: var(--pink);
    }
    .btnPagi{
        width: 4px;
        height: 4px;
        color: #ccc
    }
}