.colLeft {
  display: flex;
  align-items: center;
}
.colRight {
  display: flex;
  align-items: center;
}

.cateLabel {
  color: var(--off-navy-blue);
  font-size: var(--font-size-small);
}

.sortControllers {
  display: flex;
  gap: 5em;
}
.title {
  color: var(--navy-blue);
  font-size: var(--font-size-large);
  font-family: "Josefin Sans", sans-serif;
}

.desc {
  color: var(--sub-text);
  font-size: 12px;
}
.sortCtrl3 {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
