.featureProduct {
  display: flex;
  flex-direction: row;
  // gap: 1em;

  padding: 0 10em;
  .swiperContainer {
    background-color: #fff;
    height: 27em;
    display: flex;
    gap: 1em;
    position: relative;
    .bulletNoneActive {
      display: inline-block;

      width: 16px;
      height: 5px;
      border-radius: 10px;
      opacity: 1;
      background-color: #febad7;
      cursor: pointer;
    }
    .bulletActive {
      width: 24px;
      height: 5px;
      border-radius: 10px;
      opacity: 1;
      background-color: var(--pink);
      cursor: pointer;
    }
    .horizontalPagi {
      display: flex;
      justify-content: center;
      gap: 0.5em;
      margin-bottom: 1em;
      bottom: 0;
    }
  }
}
