.listProduct{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
    width: 80%;
}

.typeListView{
    // gap: 5rem;
    width: 70%;
    justify-content: space-between;
}