.navWrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  /* Đặt các quy tắc CSS cho mobile ở đây */
  .layoutWrapper {
    width: 100vh;
    overflow: hidden;
  }
}
