.discountItem{

    .discountLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 36px;
            color: var(--navy-blue);
            font-family: 'Josefin Sans', sans-serif;
        }
        h4{
            font-size: 20px;
            color: var(--pink);
            font-family: 'Josefin Sans', sans-serif;
            margin-top: 1em;
            font-weight: 500;
        }
        .desc{
            font-size: 17px;
            font-weight: 400;
            color: #B7BACB;
            margin-top: 1.5em;
        }
        .standardWrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 2em;
            margin-bottom: 3em;
            li{
                width: 45%;
                font-size: 17px;
                font-weight: 400;
                color: #B7BACB;
                list-style-type: none;
                display: flex;
                gap: 0.25em;
                align-items: center;
                text-align: left;
                margin-bottom: 0.75em;
            }
        }
    }

    .discountRight{
        padding: 3em;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.btn{
    width: fit-content;
    color: var(--white);
    font-size: 17px;
    padding: 1.25em 2.75em;
    border: none;
    background-color: var(--pink);
    text-transform: capitalize;
    cursor: pointer;
    transition: 150ms;
}
.btn:hover{
    transform: scale(1.05);
}

